<% provide(:title, 'Reclamaciones') %>
<div class="book-row">
	<li class="li-head" style="margin-top:-4px;margin-left:30px;">
        <%= link_to image_tag("logo.png", alt: "Imagen del Curso", size:"200x40"), "#video"%>
    </li>
    <div class="book-desc">
    	<b>Libro de Reclamaciones (Ley 29571)</b> <br><br>
    	Conforme a lo establecido en el Código de Protección y Defensa del Consumidor, la página web de Movivan cuenta con un Libro de Reclamaciones a su disposición. Ingrese a la opción que sea de su interés para registras su queja o reclamo.
    </div>

    <div><%= render '/books/form' %></div>
</div>



	  
