<body>
<div class="row">
	<div class="col-1">
		
	</div>
	
</div>

</body>

<div class="body-bkgr" id="about">
	<%= render 'layouts/header' %>
	prueba de vista 1
</div>

<div class="body-bkgr" id="how">
	prueba de vista 2
</div>

<div class="body-bkgr" id="benefic">
	prueba de vista 3
</div>

<div class="body-bkgr" id="contact">
	prueba de vista 4
</div>


