<div class="center jumbotron">
	<h1 > <a href="/" target="_blank">GAPP </a></h1>
	<h2>
	  Grupo Científico de Anatomía Patológica del Perú
	</h2>
	
</div>
<div class="description">
	<p>
		El Grupo científico de Anatomía Patológica del Perú es una organización de médicos Anatomo
		Patólogos que tienen como finalidad apoyar la investigación y estudios de Anatomía Patológica , 
		valorando la innovación en la especialidad, promoviendo los trabajos científicos a nivel de 
		Hospitales y universidades, incorporando en su ámbito asistencial que forma parte de la medicina 
		personalizada, y con el tiempo procurando elevar el nivel profesional.
	</p>
</div>

