<body>
<div class="row">
	<div class="abc">
		
	</div>
	
</div>

</body>

<div id="about">
	<div class="row main">
		<%= render 'layouts/header' %>
		<div class="about-bkgr"> 

		</div>


	</div>	
</div>

<div id="how">
	<div class="row main">
		<div class="how-bkgr">
		</div>
		<div>
			hola
		</div>
	</div>
</div>

<div id="how1">
	<div class="row main">
		<div class="how1-bkgr">
		</div>
	</div>
</div>

<div id="how2">
	<div class="row main">
		<div class="how2-bkgr">
		</div>
	</div>
</div>

<div id="how3">
	<div class="row main">
		<div class="how3-bkgr">
		</div>
	</div>
</div>


<div id="benefic">
	<div class="row main">
		<div class="benefits"> 
			<div class="ben-bkgr">
			</div>
		</div>

	</div>
</div>

<div id="contact">
	<div class="row">
		<div class="cont-bkgr">
		</div>
	</div>

</div>


