<body>
<div class="row">
	<div class="abc">
		
	</div>
	
</div>

</body>

<div  id="about">
	<div class="row">
		<%= render 'layouts/header' %>
		<div class="about-bkgr"> 

		</div>


	</div>

	
</div>

<div id="how">
	<div class="row">
		<div class="how-bkgr">
		</div>
	</div>
</div>

<div id="benefic">
	<div class="row">
		<div class="ben-bkgr">
		</div>
	</div>
	
</div>

<div id="contact">
	<div class="row">
		<div class="cont-bkgr">
		</div>
	</div>

</div>


