<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />

<body>
<div class="row">
	<div class="abc">
		<%= video_tag "videoprueba.ogg" , :autoplay => true, :muted => true%>
	</div>
</div>

</body>

<div id="about">
	<div class="row main">
		<%= render 'layouts/header' %>
		<div class="how-main" style="margin-top:75px;">
			<div class="about-bkgr">
			</div>
		</div>
		<div class="how-main" >
			<div class="about-text">
			</div>
		</div>
	</div>
</div>

<div id="how">
	<div class="row main">
		<div class="how-main" >
			<div class="how-bkgr">
			</div>
		</div>
		<div class="how-text">
			<h1>1. Viaje</h1>
			<h2>Selecciona tus rutas de ida y vuelta segun tus viajes.</h2>
		</div>
	</div>
</div>

<div id="how">
	<div class="row main">
		<div class="how-main" >
			<div class="how1-bkgr">
			</div>
		</div>
		<div class="how-text">
			<h1>2. Programación</h1>
			<h2>Selecciona los dias en que viajaremos contigo.</h2>
		</div>
	</div>
</div>

<div id="how">
	<div class="row main">
		<div class="how-main" >
			<div class="how2-bkgr">
			</div>
		</div>
		<div class="how-text">
			<h1>3. Confirmación</h1>
			<h2>Espera la confirmación de tus viajes programados.</h2>
		</div>
	</div>
</div>

<div id="how">
	<div class="row main">
		<div class="how-main" >
			<div class="how3-bkgr">
			</div>
		</div>
		<div class="how-text">
			<h1>4. Mis viajes</h1>
			<h2>Disfruta de tus viajes confirmados.</h2>
		</div>
	</div>
</div>


<div id="benefic">
	<div class="row main">
		<div class="benefits"> 
			<div class="ben-bkgr">
			</div>
		</div>

	</div>
</div>

<div class="contact">
	<div class="cont-bkgr">
		<div class="cont-text"></div>
	</div>
	<div class="cont-form" >
		<div class="cont-input"><%= render '/contacts/form' %></div>
	</div>
	</div>
</div>

<script >
		function yscroll(){
			var pagetop = document.getElementById("land-head");
			var ypos = window.pageYOffset;
			if(ypos > 100){
				pagetop.style.display = "inherit";
				
			}
			else{
				pagetop.style.display = "none";
			}
		}

		window.addEventListener("scroll", yscroll);
</script>
