<% provide(:title, 'Politicas') %>
<div class="book-row">
	<li class="li-head" style="margin-top:-4px;margin-left:30px;">
        <%= link_to image_tag("logo.png", alt: "Imagen del Curso", size:"200x40"), "#video"%>
    </li>
    <div class="book-desc" style="text-align:center;width:100vw;margin-left:0;">
        <u><b style="font-size:1.5em;">POLITICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES </b></u><br>

    </div>
    

    <div class="cont-bkgr">
        <table style="width:100%;margin-top:20px;">
            <tr>
                <td width="50%" style="vertical-align:top;">
                    <div >
                    <p style="font-family:'CaviarDreams';    margin-left: 30px;margin-right: 25px;">De conformidad con la Ley N° 29733, Ley de Protección de Datos Personales y su norma reglamentaria D.S. y N° 003-2013-JUS y demás normas aplicables (en adelante, “la Ley”), en los términos vigentes de ambas, el Usuario Conductor y el Usuario Pasajero otorgan de forma personal cada uno y de forma independiente, autorización expresa a MOVIVAN para realizar tratamiento y hacer uso de la información personal que cada uno proporcione a MOVIVAN cuando acceda a la Aplicación y al Sitio Web y/o cualesquiera forma de registro que se utilice, participe en promociones comerciales, envíe consultas o comunique incidencias, y en general cualquier interacción en la Aplicación y el Sitio Web, además de la información que se derive del uso de servicios que pudiera tener contratados con MOVIVAN y de cualquier información pública o que pudiera recoger a través de fuentes de acceso público, incluyendo aquellos a los que MOVIVAN tenga acceso como consecuencia de su navegación por la Aplicación y el Sitio Web (en adelante, la “Información”) para las finalidades de la comercialización de productos y servicios, el mantenimiento de su relación contractual con MOVIVAN, el envío de comunicaciones comerciales, la creación de perfiles personalizados y la adecuación de ofertas comerciales. <br><br>

                    La navegación en la Aplicación y Sitio web, la participación en promociones comerciales, y cualquier otra interacción implica el consentimiento expreso e inequívoco del Usuario Conductor y el Usuario Pasajero para la cesión de sus datos personales a MOVIVAN. <br><br>

                    MOVIVAN podrá ceder, en su caso, la Información a sus empresas subsidiarias, filiales, asociadas, afiliadas o miembros del grupo económico al cual pertenece y/o terceros con los que éstas mantengan una relación contractual, supuesto en el cual sus datos serán almacenados en los sistemas informáticos de cualquiera de ellos.</p>
                    </div>
                </td>

                <td width="50%" style="vertical-align:top">
                    <p style="font-family:'CaviarDreams';margin-right: 40px;">El Usuario Conductor y el Usuario Pasajero reconocen y aceptan que MOVIVAN podrá ceder sus datos personales a cualquier tercero, siempre que sea necesaria su participación para cumplir con la prestación de servicios y comercialización de productos y servicios.<br><br>
                    En todo caso, MOVIVAN garantiza el mantenimiento de la confidencialidad y el tratamiento seguro de la Información en estos casos. El uso de la Información por las empresas antes indicadas se circunscribirá a los fines contenidos en este documento.<br><br>
                    MOVIVAN garantiza la confidencialidad en el tratamiento de los datos de carácter personal, así como haber adoptado los niveles de seguridad de protección de los datos personales, instalado todos los medios y adoptado todas las medidas técnicas, organizativas y legales a su alcance que garanticen la seguridad y eviten la alteración, pérdida, tratamiento o acceso no autorizado a los datos personales.<br><br>
                    En cualquier momento, el Usuario Conductor y el Usuario Pasajero podrán ejercer, conforme a la Ley, los derechos de información, acceso, actualización, inclusión, rectificación, supresión o cancelación, oposición y revocación del consentimiento, enviando una comunicación al correo electrónico: <b>movivan.peru@outlook.com</b></p>

                </td>
            </tr>
        </table>
        
        
    </div>

    
    

</div>

	  
