<% provide(:title, 'Registra tu Van') %>
<div class="how section">
	<div class="row main">
		<div class="first-section" >
		</div>
		<div class="second-section">
			<div class="post-form"><%= render '/postulations/form' %></div>
		</div>
	</div>
</div>