@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";

$gray-medium-light: #eaeaea;

/* universal */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: 'CaviarDreams';
  src: font-url('CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
	overflow-y: scroll;
}

body {
	padding-top: 0px;
  padding-left: 0px;
  width: 50vw;
}

.row {
  width: 100vw;
  display:flex;
  
}

.main {
  background: -webkit-linear-gradient(top, rgba(229,225,222,1) 0%, rgba(255,255,255,1) 100%);
  width: 100vw;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}

.li-head{
  
  font-family: 'CaviarDreams';
  font-style: normal;
  font-variant: normal;
  font-size:15px;
  font-weight:bold;

}

.but-head{
  padding: 10px 21px;
  border-radius: 6px;   
  font-family: 'CaviarDreams';
  font-style: normal;
  font-variant: normal;
  color:white;
  background-color: #ff0066;
  border: 0;
  width: 140px;
  right:8px;
  height:40px;
  margin-top:5px;

  a:link{
    margin-top:-6px;
    color:white;

  }
}

.reg-but{
  padding: 10px 21px;
  border-radius: 24px;   
  font-family: 'CaviarDreams';
  font-style: normal;
  font-variant: normal;
  text-align:center;
  color:white;
  background-color:#660066;
  border: 0;
  width: 180px;
  margin-top:-21%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-size:18px;
  opacity:0.8;
  list-style:none;
  height:55px;
  a:hover{
    color:white;
  }
  a:link{
    margin-top:-6px;
    color:white;
  }
}

.abc {
  background-color:black;
  display: block;  
  right: 0; 
  bottom: 0;
  max-height:200vh;
  max-width:200vw;
  min-width:100vw;
  min-height:100vh;
  width: 100vw;   
  height: 100vh;  
  z-index: 1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
  position:relative;
  overflow:hidden;
    
}

.fullscreen-bg__video{
  
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  overflow-y: hidden;
  vertical-align: top;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
    right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  
}

.img-main{
  margin-top:-44%;
  
  position:absolute;
  opacity:0.7;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.img-name{
 margin-top:-35%;
  
  position:absolute;
  opacity:0.7;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.page-slogan{
  position:absolute;
  color:white;
  font-size:18px;
  font-family:'CaviarDreams'; 
  text-align:center;
  margin-top:-29%;
  
  opacity:0.7; 
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.mov-slogan{
  position:absolute;
  color:white;
  font-size:30px;
  font-family:'CaviarDreams'; 
  text-align:center;
  margin-top:-24%;
  opacity:0.7; 
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  
}

.desc{
  color: white;
}

.about-bkgr{
  width:80vw;
  background-image: image-url('about.png');
  background-size: 100% 100%;
    height: 80vh;
  max-height: 90vw;
  max-width: 90vh;
  margin:auto 0;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.about-text {
    width:68vw;
  background-image: image-url('about_text.png');
  background-size: 100% 100%;
    height: 53vh;
  max-width: 78vh;
  max-height: 62vw;
  
  margin:auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.edit-button {
  background-color: clear;
}

.segment {
  width: 100vw;
}

/* How it works */

.how-main {
  width:50%;
  height:100%;
  position: relative;
}

.how-bkgr{
  width: 45vw;
  background-image: image-url('iPhone.png');
  background-size: 100% 100%;
  height: 80vh;
  max-height: 90vw;
  max-width: 45vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:50px;
  margin-left:auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.how1-bkgr{
  width: 45vw;
  background-image: image-url('iPhone.png');
  background-size: 100% 100%;
  height: 80vh;
  max-height: 90vw;
  max-width: 45vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:50px;
  margin-left:auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.how2-bkgr{
  width: 45vw;
  background-image: image-url('iPhone.png');
  background-size: 100% 100%;
  height: 80vh;
  max-height: 90vw;
  max-width: 45vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:50px;
  margin-left:auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}

.how3-bkgr{
  width: 45vw;
  background-image: image-url('iPhone.png');
  background-size: 100% 100%;
  height: 80vh;
  max-height: 90vw;
  max-width: 45vh;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:50px;
  margin-left:auto;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
}


.how-text {
  vertical-align: middle;
  height: 150px;
  width: 300px;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:auto;
  margin-left:50px;
  h1 {
    color:#693B7A;
    text-align: left;
    font-size: 2.4em;
    font-family: 'CaviarDreams';
    font-weight: bolder;
  }
  h2 {
    color:#693B7A;
    margin-top: -20px;
    text-align: left;
    font-size: 1.4em; 
    }
}

/* Benefits */

.ben-bkgr{
  background-image: image-url('benefits.png');
  background-size: 100% 100%;
  width: 80vw; /* 90% of viewport vidth */
    height: 30vw; /* ratio = 9/16 * 90 = 50.625  0.38* 90*/
  max-height: 80vh;
    max-width: 208vh; /* 16/9 * 90 = 160  2.60 * 90 */
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

.benefits {
  position: relative;
  height:100vh;
  width: 100vw;
}

/* Contact */

.contact {
  background-image: image-url('contact_background.png');
  width: 100vw;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  margin-left: -15px;
  background-color: $gray;
}

.cont-bkgr{
  width: 100vw;
  height: 70%;
  background-color: clear;
  margin: auto;
    top:0;bottom:0;
    left:0;right:0;
    position: relative;
}

.cont-text {
margin-top:200px;
    background-image: image-url('contact_text.png');
  background-size: 100% 100%;
  width: 100%; /* 90% of viewport vidth */
    height: 30%; /* ratio = 9/16 * 90 = 50.625  0.38* 90*/
  max-height: 50%;
    max-width: 200%; /* 16/9 * 90 = 160  2.60 * 90 */
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

.cont-form {
  background-size: 100% 100%;
  width: 100vw;
  height: 30%;
  background-color:$gray;
  margin-top: 0px;
    top:0;bottom:0;
    left:0;right:0;
}

.cont-label {
padding-top:10px;
  h1 {
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-family: 'CaviarDreams';
  }
}

.cont-input {
  margin-right: 20px;
  margin-left: 20px;
}

.share {
margin-top: -20px;
  margin-bottom: 0px;
  h2 {
    color:white;
    text-align:center;
    font-size:1.2em;
    font-family: 'CaviarDreams';
  }
}

.separator {
  font-size: 0.5em;
  color: $gray;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
	  margin-bottom: 10px; 
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.navbar-inverse{
  border:0px;
}

.navbar-inverse .navbar-nav > li >a:hover{
  color: #777;

}

.navbar-inverse .navbar-nav > li{
  padding: 2px;
  width: 165px;
  display:inline-block;

  font-size:15px;
}

.navbar-nav > #login >a:link{
  color:white;
}
.navbar-nav > #login >a:hover{
  color:white;
}


.navbar-nav > #sign >a:link{
  color:white;
}
.navbar-nav > #sign >a:hover{
  color:white;
}


.navbar ul{
  text-align: center;
  padding: 0px;
  zoom:1;
  overflow: hidden;
}


h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #777;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #777;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.fullpage {
  width: 100%;
  height:100vh;
}


  .save {
   color: #00DD00;
   font-size: 16px;
   font-weight: bold;
   font-family: 'CaviarDreams';
  }

  .send {
   color: white;
   background-color:#0074E7;
   font-family: 'CaviarDreams';
   margin-top:15px;
   width:100%
  }

  .navbarpost {
   background-color: #F8F8F8;
  }

  .postulation-button {
    background-color: #0074E7;
    color: white;
    font-family: 'CaviarDreams';
  }

  .first-section {
    width:70%;
    height:100%;
    position: relative;
    background-image: image-url('postulation.jpg');
    background-size: 100% 100%;
  }

  .second-section {
    width:30%;
    height:100%;
    position: relative;
      padding-top:40px;
    background-color: $gray
  }

  .post-form {
    margin-top: 60px;

    margin-right:20px;
    margin-left:20px;
    h1 {
      color: white;
      font-family: 'CaviarDreams';
      font-size: 20px;
      text-align:center;
    }
    h2 {
      color: white;
      font-family: 'CaviarDreams';
      font-size: 16px;
      text-align:left;
    }
  }


.radio-label {
    color: white;
      font-family: 'CaviarDreams';
      font-size: 14px;
      text-align:left;
      display:block;
}

.contact-inputs {
  width: 100%;
  text-align: center;
}

.contact-row {
  width: 24%;
  display: inline-block;
}

.contact-button {
  width: 5%;
display: inline-block;
}

.top-message {
  margin-top: 50px;
  h1 {
    color: white;
      font-family: 'CaviarDreams';
      font-size: 25px;
      text-align:center;
      margin-right: 80px;
      margin-left:80px;
      margin-top: 70px;
  }
}

.bottom-message {
  margin-bottom: 0px;
  width: 100%;
  position: absolute;
    bottom: 0;
      h1 {
  color: white;
      font-family: 'CaviarDreams';
      font-size: 45px;
      text-align:center;
      margin-right: 80px;
      margin-left:80px;
      margin-bottom: 20px;
      font-weight:bold;
  }
}

.driver-section {
 height: 32%;
 position:relative;
}

.driver-image {
display: inline-block;
  width: 15%;
  height: 100%;
  position:relative;
}

.driver-text {
  width: 40%;
  display: inline-block;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 15%;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
  h1 {
  color: #2B7FDE;
      font-family: 'CaviarDreams';
      font-size: 26px;
      text-align:left;
      margin-top:10px;
      
  }
  h2 {
  color: $gray;
      font-family: 'CaviarDreams';
      font-size: 20px;
      text-align:left;
      margin-top:-20px;
  }
}

.driver-info-image {
width:50%;
height:50%;
 margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

.driver-info {
  margin-left: -15px;
}

.main-driver {
 
  height: 100%;
  width: 100%;
}

.center-driver-text {
height:80%;
width:100%;
  margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 30px;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

.center-main-driver {
  height:90%;
  padding-top:55px;
width:100%;
  margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}
