<footer class="footer">
   	<nav>
    	<ul>
      		<li><%= link_to "Términos y condiciones de servicios" %></li>
          <li><%= link_to "Movivan 2015 Derechos Reservados"%></li>
          <li><%= link_to "Política de Privacidad" %></li>
      		<li><%= link_to "Libro de reclamaciones" %></li>
      		
    	</ul>
  	</nav>
</footer>