
<header class="navbar navbar-fixed-top navbar-inverse navbar-nav" id="land-head" style="background-color:transparent;display:none;">
  <div class="container">
    <nav>
      <!-- #ebebe0-->
      <ul class="nav navbar-nav navbar-right">
      <li class="li-head" style="margin-top:-4px;right:22px;">
        <%= link_to image_tag("logo.png", alt: "Imagen del Curso", size:"120x24"), "#video"%>
      </li>
       <li class="li-head" style="top:4px;" id="what">
          <a id="whatlink" onclick="document.getElementById('login').style.backgroundColor = '#d7006e'; document.getElementById('sign').style.backgroundColor = '#d7006e'; document.getElementById('cont').style.borderRight = 'solid 1px #d7006e'; document.getElementById('whatlink').style.color = '#d7006e';document.getElementById('howlink').style.color = '#777';document.getElementById('benlink').style.color = '#777';document.getElementById('contlink').style.color = '#777'" href="#about">¿Qué es Movivan?</a>
        </li>

        <li class="li-head" style="top:4px;left:20px;" id="como">
          <a id="howlink" onclick="document.getElementById('login').style.backgroundColor = '#693b7b'; document.getElementById('sign').style.backgroundColor = '#693b7b'; document.getElementById('cont').style.borderRight = 'solid 1px #693b7b'; document.getElementById('howlink').style.color = '#693b7b'; document.getElementById('whatlink').style.color = '#777'; document.getElementById('benlink').style.color = '#777'; document.getElementById('contlink').style.color = '#777'" href="#how">¿Cómo funciona?</a>

        </li>

        <li class="li-head" style="top:4px;left:10px;" id="ben">
          <a id="benlink" onclick="document.getElementById('login').style.backgroundColor = '#0074e6'; document.getElementById('sign').style.backgroundColor = '#0074e6'; document.getElementById('cont').style.borderRight = 'solid 1px #0074e6'; document.getElementById('benlink').style.color = '#0074e6';document.getElementById('whatlink').style.color = '#777'; document.getElementById('howlink').style.color = '#777';document.getElementById('contlink').style.color = '#777'" href="#benefic">Beneficios</a>
        </li>


        <li class="li-head" id="cont" style="left:-29px;top:10px;height:35px;border-right:solid 1px #d7006e;padding-left:34px;">
         
          <a id="contlink" onclick="document.getElementById('login').style.backgroundColor = '#693b7b'; document.getElementById('sign').style.backgroundColor = '#693b7b'; document.getElementById('cont').style.borderRight = 'solid 1px #693b7b'; document.getElementById('contlink').style.color = '#693b7b';document.getElementById('whatlink').style.color = '#777'; document.getElementById('howlink').style.color = '#777';document.getElementById('benlink').style.color = '#777'" href="#contact">Contáctanos</a>

        </li>

        <li class="but-head" id="login" style="left:-10px; widht:140px;">
          <a  href="http://www.movivan.pe/auth/login">Ingresa</a>
        </li>
        <li class="but-head" id="sign">
          <a  href="/postulation">Registra tu Van</a>
          
        </li>
      </ul>
    </nav>
  </div>
  
</header>
