<header class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
    <%= image_tag("logo1.png", alt: "Imagen del Curso", size:"120x24") %>
      </a>
    <nav>
      <ul class="nav navbar-nav navbar-right">

      	<button type="button" class="btn btn-default navbar-btn postulation-button">Ingresa a tu cuenta</button>
      	<button type="button" class="btn btn-default navbar-btn postulation-button">Eres pasajero?</button>

      </ul>
    </nav>
  </div>
</header>